/* 列表页专有的css */
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}

/* 列表页导航栏 */
.nav {
    /* 溢出的位置隐藏 */
    overflow: hidden;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    padding: 0 30px;
    line-height: 47px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    padding: 0 20px;
    line-height: 47px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: 'icomoon';
}

/* 列表页主体部分 */

.sk_bd ul li {
    float: left;
    width: 290px;
    height: 460px;
    /* 设置原本就有边框，这样鼠标经过边框改变颜色即可，否则会出现content图片移动 */
    border: 1px solid transparent;
    margin-right: 13px;
    /* 图片过大，会溢出遮住边框 */
    overflow: hidden;
}

.sk_bd ul li:hover {
    border-color: #c81523;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}